- can_update_inspection = can?(:update, inspection)
%table.table.table-bordered#roadbeds-table
  %thead
    %tr
      %th.center Name
      %th.center Roadway
      %th.center Direction of Travel
      %th.center Lines
      %th.center Minimum VCLR
      %th.center Maximum VCLR
      - if can_update_inspection
        %th.center.roadbeds-action-column
  %tbody
    - roadbeds.each do |rb|
      - min = rb.minimum(@inspection)
      - max = rb.maximum(@inspection)
      %tr
        %td.center= rb.name
        %td.center= rb.roadway&.to_s
        %td.center= rb.direction
        %td.center= rb.number_of_lines
        %td.center= min ? "#{format_as_decimal(min, 2)} ft" : 'No Restrictions'
        %td.center= max ? "#{format_as_decimal(max, 2)} ft" : 'No Restrictions'
        - if can_update_inspection
          %td.center.roadbeds-action-column
            = link_to rb, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete' do
              %i.fa.fa-remove{style: 'color: red;'}
    