= editable_asset_association_tag(@asset, :deck_condition_rating_type, reference_label('bridge_conditions', 'deck_condition_rating_type_id', 'Deck'), include_blank: true)
= editable_asset_association_tag(@asset, :superstructure_condition_rating_type, reference_label('bridge_conditions', 'superstructure_condition_rating_type_id', 'Superstructure'), include_blank: true)
= editable_asset_association_tag(@asset, :substructure_condition_rating_type, reference_label('bridge_conditions', 'substructure_condition_rating_type_id', 'Substructure'), include_blank: true)
= editable_asset_association_tag(@asset, :channel_condition_type, reference_label('bridge_conditions', 'channel_condition_type_id', 'Channel Protection'), include_blank: true)
= editable_asset_association_tag(@asset, :calculated_condition, reference_label('bridge_conditions', 'calculated_condition', 'Overall Condition'), collection: ['good', 'fair', 'poor', 'unknown'].map{|r| [r.titleize, r]}, include_blank: true)