= editable_asset_association_tag(@asset, :main_span_material_type, reference_label('bridges', 'main_span_material_type_id', 'Main Span Material'), StructureMaterialType.active.collect{|x| [x.id, x.name]}, include_blank: true)
= editable_asset_association_tag(@asset, :main_span_design_construction_type, reference_label('bridges', 'main_span_design_construction_type_id', 'Main Span Design'), DesignConstructionType.active.collect{|x| [x.id, x.name]}, include_blank: true)
= editable_asset_association_tag(@asset, :approach_spans_material_type, reference_label('bridges', 'approach_spans_material_type_id', 'Approach Spans Material'), StructureMaterialType.active.collect{|x| [x.id, x.name]}, include_blank: true)
= editable_asset_association_tag(@asset, :approach_spans_design_construction_type, reference_label('bridges', 'approach_spans_design_construction_type_id', 'Approach Spans Design'), DesignConstructionType.active.collect{|x| [x.id, x.name]}, include_blank: true)

= editable_asset_association_tag(@asset, :deck_structure_type, reference_label('bridges', 'deck_structure_type_id', 'deck_structure_type'.titleize))
= editable_asset_association_tag(@asset, :wearing_surface_type, reference_label('bridges', 'wearing_surface_type_id', 'wearing_surface_type'.titleize))
= editable_asset_association_tag(@asset, :membrane_type, reference_label('bridges', 'membrane_type_id', 'membrane_type'.titleize))
= editable_asset_association_tag(@asset, :deck_protection_type, reference_label('bridges', 'deck_protection_type_id', 'deck_protection_type'.titleize))
=# editable_asset_association_tag(@asset, :scour_critical_bridge_type, reference_label('bridges', 'scour_critical_bridge_type_id', 'scour_critical_bridge_type'.titleize))
        