= editable_asset_field_tag(@asset, :asset_tag, reference_label('highway_structures', 'transam_assets.asset_tag', 'Structure Number'))
= editable_asset_association_tag(@asset, :asset_subtype, reference_label('highway_structures', 'transam_assets.asset_subtype_id', 'Bridge Type'), AssetSubtype.where(asset_type: @asset.asset_type).order(:id).collect{|x| [x.id, x.name]})
= editable_asset_field_tag(@asset, :facility_carried, reference_label('bridges', 'facility_carried', 'Facility Carried'))
= editable_asset_field_tag(@asset, :features_intersected, reference_label('highway_structures', 'features_intersected', 'Feature Intersected'))
= editable_asset_field_tag(@asset, :milepoint, reference_label('highway_structures', 'milepoint', 'Milepoint'))
%legend
  %h5 Border Bridge
.row
  .col-sm-2
    = editable_asset_association_tag(@asset, :border_bridge_state, reference_label('bridges', 'border_bridge_state', 'State (border)'), [['KS', 'KS'], ['NE', 'NE'], ['NM', 'NM'], ['OK', 'OK'], ['UT', 'UT'], ['WY', 'WY']], suffix: '')
  .col-sm-2
    = editable_asset_field_tag(@asset, :border_bridge_pcnt_responsibility, reference_label('bridges', 'border_bridge_pcnt_responsibility', '% Resp. (border)'))
  .col-sm-2
    = editable_asset_field_tag(@asset, :border_bridge_structure_number, reference_label('bridges', 'border_bridge_structure_number', 'Structure Number (border)'))
    
    