= render 'maps/filters/highway/identification'
= render 'maps/filters/highway/inspection'
= render 'maps/filters/highway/location'
= render 'maps/filters/highway/ownership'
= render 'maps/filters/highway/usage'
= render 'maps/filters/highway/roadway'
= render 'maps/filters/highway/other'

:javascript
  function cache_highway_filters() {
    var filters = {};

    filters['asset_tag'] = $('#searcher_asset_tag').val();
    filters['region_code'] = $('.searcher_region_code input:checked').map(function(){return $(this).val();}).get();
    filters['structure_status_type_code'] = $('.searcher_structure_status_type_code input:checked').map(function(){return $(this).val()}).get();
    filters['owner_id'] = $('.searcher_owner_id option:selected').val();
    filters['calculated_condition'] = $('.searcher_calculated_condition input:checked').map(function(){return $(this).val()}).get();
    filters['service_type_flag'] = $("input[name='searcher[service_type_flag]']:checked").val();
    if(filters['service_type_flag'] == 'on') {
      filters['service_on_type_id'] = $('.searcher_service_on_type_id input:checked').map(function(){return $(this).val()}).get();
    } else {
      filters['service_under_type_id'] = $('.searcher_service_under_type_id input:checked').map(function(){return $(this).val()}).get();
    }
    return filters;
  }

  function load_cached_highway_filters(filters) {
    $('#searcher_asset_tag').val(filters['asset_tag']);
    if(filters['region_code']) {
      filters['region_code'].forEach(function(region_code) {
        $('.searcher_region_code input[value=' + region_code +']').prop('checked', true);
      });
    }
    if(filters['structure_status_type_code']) {
      filters['structure_status_type_code'].forEach(function(type_code) {
        $('.searcher_structure_status_type_code input[value=' + type_code +']').prop('checked', true);
      });
    }
    if(filters['owner_id']) {
      $('.searcher_owner_id option[value=' + filters['owner_id'] +']').prop('selected', true);
    }
    if(filters['calculated_condition']) {
      filters['calculated_condition'].forEach(function(condition) {
        $('.searcher_calculated_condition input[value=' + condition +']').prop('checked', true);
      });
    }
    if(filters['service_type_flag'] == 'on') {
      $("input[name='searcher[service_type_flag]'][value=on]").prop('checked', true);
      if(filters['service_on_type_id']) {
        filters['service_on_type_id'].forEach(function(service_on_type_id) {
          $('.searcher_service_on_type_id input[value=' + service_on_type_id +']').prop('checked', true);
        });
      }
    } else {
      $("input[name='searcher[service_type_flag]'][value=under]").prop('checked', true);
      if(filters['service_under_type_id']) {
        filters['service_under_type_id'].forEach(function(service_under_type_id) {
          $('.searcher_service_under_type_id input[value=' + service_under_type_id +']').prop('checked', true);
        });
      }
    }
  }