- if @sshml
  = render partial: 'highway_structures/bridge_like/sshml/geometric_data_form', locals: {asset: asset}
- else
  = editable_asset_field_tag(asset, :approach_roadway_width, reference_label('highway_structures', 'approach_roadway_width', 'Approach Roadway Width'), required: false)
  = editable_asset_field_tag(asset, :max_span_length, reference_label('bridges', 'max_span_length', 'Maximum Span Length'), required: false)
  = editable_asset_field_tag(asset, :length, reference_label('bridges', 'length', 'Length'), required: false)
  = editable_asset_field_tag(asset, :left_curb_sidewalk_width, reference_label('bridges', 'left_curb_sidewalk_width', 'Left Curb or Sidewalk'), required: false)
  = editable_asset_field_tag(asset, :right_curb_sidewalk_width, reference_label('bridges', 'right_curb_sidewalk_width', 'Right Curb or Sidewalk'), required: false)
  = editable_asset_field_tag(asset, :roadway_width, reference_label('bridges', 'roadway_width', 'Curb to Curb'), required: false)
  = editable_asset_field_tag(asset, :deck_width, reference_label('bridges', 'deck_width', 'Out to Out'), required: false)
  = editable_asset_field_tag(asset, :min_vertical_clearance_above, reference_label('bridges', 'min_vertical_clearance_above', 'Minimum Vertical Clearance Above Bridge'), required: false)
  = editable_asset_association_tag(asset, :vertical_reference_feature_below, reference_label('bridges', 'vertical_reference_feature_below_id', 'Reference Vertical Feature Below Bridge'), include_blank: true)
  = editable_asset_field_tag(asset, :min_vertical_clearance_below, reference_label('bridges', 'min_vertical_clearance_below', 'Minimum Vertical Clearance Below Bridge'), required: false)
  = editable_asset_association_tag(asset, :lateral_reference_feature_below, reference_label('bridges', 'lateral_reference_feature_below_id', 'Reference Horizontal Feature Below Bridge'), include_blank: true)
  = editable_asset_field_tag(asset, :min_lateral_clearance_below_right, reference_label('bridges', 'min_lateral_clearance_below_right', 'Minimum Horizontal Clearance Below Bridge on Right '), required: false)
  = editable_asset_field_tag(asset, :min_lateral_clearance_below_left, reference_label('bridges', 'min_lateral_clearance_below_left', 'Minimum Horizontal Clearance Below Bridge on Left'), required: false)