- (@asset.documents.joins(:document_tag).where(document_tags: {document_folder: DocumentFolder.find_by(name: folder)}).reorder("document_tags.name ASC, documents.file_date DESC, documents.description ASC")).each do |document|
  %tr
    %td.center
      = link_to document.name.truncate(32, omission: "...#{document.name.last(14)}"), download_document_path(document), title: document.name
    %td.center= document.document_tag&.name
    %td.center= document.description
    %td.center= document.file_date&.strftime("%m/%d/%Y")
    %td.center= number_to_human_size(document.file_size)
    %td.center= document.created_at
    %td.center= document.creator
    %td.center
      - if can? :read, document
        = link_to download_document_path(document), :class => "btn btn-primary btn-xs btn-action" do
          %i.fa.fa-download
      - if can? :destroy, document
        = link_to document, :method => :delete, :class => "btn btn-warning btn-xs btn-action", :data => { :confirm => 'Are you sure you want to remove this document?' } do
          %i.fa.fa-trash
