.form-group
  %label.control-label
    = reference_label('highway_structures', 'inspection_program_id', 'Inspection Program')
  .display-value
    = @asset.inspection_program
.form-group
  %label.control-label
    = reference_label('highway_structures', 'inspection_date', 'Last Routine Inspection Date')
  .display-value
    = format_as_date @asset.inspection_date
.form-group
  %label.control-label
    = reference_label('inspections', 'inspection_frequency', 'Routine Inspection Frequency')
  .display-value
    = @asset.inspection_frequency
.form-group
  %label.control-label
    = reference_label('highway_structures', 'inspection_trip', 'Inspection Trip')
  .display-value
    = @asset.inspection_trip
.form-group
  %label.control-label
    = reference_label('bridges', 'other_special_inspection_required', 'Other Special Inspection Required')
  .display-value
    = @asset.other_special_inspection_required ? 'Yes' : 'No'
.form-group
  %label.control-label
    = reference_label('bridges', 'other_special_inspection_frequency', 'Other Special Inspection Frequency')
  .display-value
    = @asset.other_special_inspection_frequency
.form-group
  %label.control-label
    = reference_label('bridges', 'other_special_inspection_date', 'Other Special Inspection (critical feature)')
  .display-value
    = format_as_date @asset.other_special_inspection_date