= editable_asset_association_tag(@asset, :highway_structure_type, reference_label('highway_structures', 'highway_structure_type_id', 'Structure Type'), HighwayStructureType.active.collect{|x| [x.id, x.name]}, include_blank: true)
= editable_asset_field_tag(@asset, :num_spans_main, reference_label('bridges', 'num_spans_main', 'Number of Spans'), required: false)
= editable_asset_association_tag(@asset, :mast_arm_frame_type, reference_label('bridges', 'mast_arm_frame_type_id', 'Mast Arm/Frame Type'))
= editable_asset_association_tag(@asset, :column_type, reference_label('bridges', 'column_type_id', 'Column Type'))
= editable_asset_association_tag(@asset, :foundation_type, reference_label('bridges', 'foundation_type_id', 'Foundation Type'))
= editable_asset_association_tag(@asset, :upper_connection_type, reference_label('bridges', 'upper_connection_type_id', 'Upper Connection Type'))
= editable_asset_field_tag(@asset, :maintenance_patrol, reference_label('bridges', 'maintenance_patrol', 'Maintenance Patrol'))