:ruby
  tabs = {
    identification: 'Identification',
    age_service: 'Age & Service',
    appraisal: 'Appraisal',
    classification: 'Classification',
    condition: 'Condition',
    geometric_data: 'Geometric Data',
    inspections: 'Inspections',
    load_rating_posting: 'Load Rating & Posting',
    proposed_improvements: 'Proposed Improvements',
    roadways: 'Roadway',
    structural_type_material: 'Structural Type & Material',
    navigation_data: 'Navigation Data'
  }

  asset_dir = @asset.class.name.underscore
  asset_dir = 'bridge_like' if ['bridge', 'culvert'].include?(asset_dir)

  prefix = "highway_structures/#{asset_dir}"

  if @asset_class_name == 'Bridge'
    @latest_condition = @asset.latest_bridge_condition
  elsif @asset_class_name == 'Culvert'
    @latest_condition = @asset.latest_culvert_condition
  end

- tabs.each do |key, label|
  .tab-pane.fade{id: "#{key}"}
    .tab-content
      %legend
        = label
      = render "#{prefix}/#{key}_form"

