:ruby
  tabs = {
    identification: 'Identification',
    age_service: 'Age & Service',
    appraisal: 'Appraisal',
    classification: 'Classification',
    condition: 'Condition',
    geometric_data: 'Geometric Data',
    inspections: 'Inspections',
    load_rating_posting: 'Load Rating & Posting',
    proposed_improvements: 'Proposed Improvements',
    roadways: 'Roadway',
    structural_type_material: 'Structural Type & Material',
    navigation_data: 'Navigation Data'
  }

  asset_dir = @asset.class.name.underscore
  asset_dir = 'bridge_like' if ['bridge', 'culvert', 'misc_structure'].include?(asset_dir) || @sshml

  prefix = "highway_structures/#{asset_dir}"


  # TODO: possibly move logic to decide asset object to controller
  # there are four cases
  # you're coming from an asset detail: you either are looking at live or assigned version
  # you're coming from an inspection detail: you etiher are looking at live or final version
  if @inspection # will only be defined if on inspection page
    asset = @asset # logic for whether live or final comes from inspection controller
  else
    asset = @asset.assigned_version ? TransamAsset.get_typed_version(@asset.assigned_version) : @asset
  end

- tabs.each do |key, label|
  .tab-pane.fade{id: "#{key}"}
    .tab-content
      %legend
        = label
      = render partial: "#{prefix}/#{key}_form", locals: {asset: asset}

