:css
  .transam-popover {
    margin-left: 5%;
  }

:ruby
  table_dom_id = SecureRandom.hex

#table_actions.btn-toolbar
  .btn-group
    - if can?(:update, @asset) && can?(:schedule, Inspection)
      = link_to inspection_type_settings_inspections_path(asset_object_key: @asset.object_key), :remote => true, :class => 'btn btn-primary' do
        = "Manage Schedule";

    - if can? :create, Inspection
      = link_to new_inspection_path(asset_object_key: @asset.object_key), :remote => true, :class => 'btn btn-primary' do
        %i.fa.fa-plus
        = "Plan Unscheduled";

.table-responsive
  %table.table.table-hover{:id => table_dom_id,
          :data => {:toggle => 'table',
          :card_view => "false",
          :pagination => 'true',
          :sort_order => 'asc',
          :sortable => 'true',
          :show_pagination_switch => 'true',
          :page_number => '1',
          :page_list => "[5, 10, 20, 50, 100, 200]",
          :page_size => current_user.num_table_rows,
          :search => 'false',
          :show_columns => 'true',
          :toolbar => "#table_actions",
          :row_style => 'row_style',
          :click_to_select => 'true',
          :show_export => 'true',
          :id_field => 'object_key',
          :export_types => "['csv', 'txt', 'excel']",
          :cookie => 'true',
          :cookie_id_table => "inspections_id",
          :cookie_expire => "1y",
          :maintain_selected => 'true',
          :single_select => 'false'}}
    %thead
      %tr
        %th.center Inspection Detail
        %th.center{:data => {:sortable => 'true'}}
          = reference_label('inspections', 'assigned_organization_id', 'Inspection Team')
        %th.center{:data => {:sortable => 'true'}}
          = reference_label('inspections', 'inspection_type_id', 'Inspection Type')
        %th.center{:data => {:sortable => 'true'}} Description
        %th.center{:data => {:sortable => 'true'}}
          = reference_label('inspections', 'event_datetime', 'Inspection Date')
        %th.center{:data => {:sortable => 'true'}}
          = reference_label('inspections', 'calculated_inspection_due_date', 'Due Date')
        %th.center{:data => {:sortable => 'true'}}
          = reference_label('highway_structures', 'calculated_condition', 'Overall Condition')
        %th.center{:data => {:sortable => 'true'}}
          = reference_label('inspections', 'inspection_team_leader_id', 'Inspection Team Leader')
        %th.center{:data => {:sortable => 'true'}}
          = reference_label('inspections', 'state', 'Inspection Status')
        %th.center{:data => {:sortable => 'false'}} Actions

    %tbody
      - (@asset.inspections.not_final.order(calculated_inspection_due_date: :desc) + @asset.inspections.final.order(event_datetime: :desc)).each do |inspection|
        %tr
          %td.center
            = link_to inspection_path(inspection), :class => "btn btn-primary btn-xs", :title => "Show inspection" do
              %i.fa.fa-play
              View
          %td.left= inspection.assigned_organization
          %td.left= inspection.inspection_type
          %td.left= inspection.description
          %td.left= format_as_date(inspection.event_datetime)
          %td.left= format_as_date(inspection.calculated_inspection_due_date)
          %td.left= Inspection.get_typed_inspection(inspection).calculated_condition&.titleize
          %td.left
            - if inspection.inspectors.count > 0
              = inspection.inspection_team_leader
              %a.transam-popover{data: {placement: 'right', toggle: 'popover', html: 'true', content: inspection.inspectors.map{|i| i.to_s}.join('<br>').html_safe}, title: 'All Inspectors', tabindex: '0'}
                %i.fa.fa-info-circle.fa-1-25x
          %td.left= inspection.state&.titleize
          %td.left
            - if can?(:update, inspection)
              = link_to edit_inspection_path(inspection.object_key), :remote => true, :class => "button btn-xs", :title => "Edit inspection schedule" do
                %i.fa.fa-edit.fa-1-5x.text-success
              - unless inspection.inspection_type_setting.present?
                = link_to inspection_path(inspection.object_key), :method => :delete, :data => {:confirm => "Are you sure? The action cannot be undone."}  do
                  %i.fa.fa-trash-o.fa-fw.text-danger
            = link_to print_inspection_path(inspection, format: :pdf), :class => "button btn-xs", :title => "Export Inspection PDF", :id => "export_inspection_to_pdf" do
              %i.fa.fa-file-pdf-o.fa-1-5x



:javascript

  $('#' + '#{table_dom_id}').on('post-body.bs.table', function () {
    $('.transam-popover').popover({
      trigger: 'hover'
    });

    $('.transam-tooltip').tooltip();
  });