- @asset.streambed_profiles.each do |profile|
  %tr
    %td.center= profile.date&.year
    - @cols.each do |distance|
      %td.center
        - profile_point = profile.streambed_profile_points.find_by(distance: distance)
        - if can?(:update_from_structure, @asset) && !@asset.assigned_version && profile.inspection&.state == 'final'
          - if profile_point
            %span.number-display
              = format_as_decimal(profile_point.value,1)
            %input.number-input.form-control{style: 'display: none;', type: 'number', required: 'required', min: 0, value: profile_point.value, data: {streambed_profile: profile.object_key, streambed_profile_point: profile_point.object_key}}
          - else
            %input.number-input.form-control{style: 'display: none;', type: 'number', required: 'required', min: 0, data: {streambed_profile: profile.object_key, distance: distance}}
        - else
          = format_as_decimal(profile_point.value,1) if profile_point
    %td.center
      - if can?(:update_from_structure, @asset) && !@asset.assigned_version && profile.inspection&.state == 'final'
        %span.number-display
          = format_as_decimal(profile.water_level,1)
        %input.water-level.number-input.form-control{style: 'display: none;', type: 'number', required: 'required', min: 0, value: profile.water_level, data: {streambed_profile: profile.object_key}}
      - else
        = format_as_decimal(profile.water_level,1)
  %tr
    %td.right Reference Line
    %td.left{:colspan => @cols.count + 1}
      - if can?(:update_from_structure, @asset) && !@asset.assigned_version && profile.inspection&.state == 'final'
        %span.text-display
          %em= profile.reference_line
        %input.reference-line.text-input.form-control{style: 'display: none;', type: 'text', required: 'required', value: profile.reference_line, data: {streambed_profile: profile.object_key}}
      - else
        %em= profile.reference_line
  %tr
    %td.right Water Level Taken At
    %td.left{:colspan => @cols.count + 1}
      - if can?(:update_from_structure, @asset) && !@asset.assigned_version && profile.inspection&.state == 'final'
        %span.text-display
          %em= profile.water_level_reference
        %input.water-level-reference.text-input.form-control{style: 'display: none;', type: 'text', required: 'required', value: profile.water_level_reference, data: {streambed_profile: profile.object_key}}
      - else
        %em= profile.water_level_reference