:css
  .carousel .item {
    height: 225px;
  }

  .carousel .item img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 225px;
  }
.col-sm-4
  .form-group
    %label.control-label= reference_label('highway_structures', 'route_number', '&nbsp')
    .display-value= @asset.route_number
  .form-group
    %label.control-label= reference_label('highway_structures', 'milepoint', 'Milepoint')
    .display-value= @asset.milepoint
  .form-group
    %label.control-label= reference_label('highway_structures', 'city', '* City')
    .display-value= @asset.city
  .form-group
    %label.control-label= reference_label('highway_structures', 'county', 'County')
    .display-value= @asset.county

  .form-group
    %label.control-label= reference_label('highway_structures', 'maintenance_responsibility_id', 'Maintenance Responsibility')
    .display-value= @asset.maintenance_responsibility

  .form-group
    %label.control-label= reference_label('highway_structures', 'owner_id', 'Organization')
    .display-value= @asset.owner

.col-sm-4
  .form-group
    %label.control-label= reference_label('highway_structures', 'calculated_condition', 'Overall Condition')
    .display-value= @asset.calculated_condition ? link_to(@asset.calculated_condition&.titleize, inspection_path(@asset.inspections.ordered.first)) : ''
  .form-group
    %label.control-label= reference_label('bridge_like_conditions', 'scour_critical_bridge_type_id', 'Scour Critical BridgeLike')
    .display-value= @asset.bridge_like_conditions.ordered.first.try(:scour_critical_bridge_type)
  .form-group
    %label.control-label= reference_label('bridge_likes', 'transam_assets.asset_subtype_id', 'BridgeLike Type')
    .display-value= @asset.asset_subtype
  .form-group
    %label.control-label= reference_label('highway_structures', 'inspection_date', 'Routine Inspection Date')
    .display-value= format_as_date(@asset.inspection_date)

.col-sm-4
  - if Image.where(base_imagable: @asset.transam_asset, classification: ['Roadway', 'Elevation', 'Superstructure']).count > 0
    .row.form-group#recentImagesCarousel.carousel.slide
      %ol.carousel-indicators
        %li.active{data: {target: "#recentImagesCarousel", slide_to: "0"}}
        %li{data: {target: "#recentImagesCarousel", slide_to: "1"}}
        %li{data: {target: "#recentImagesCarousel", slide_to: "2"}}
      .carousel-inner
        - count = 0
        - active_set = false

        - roadway_img = Image.where(base_imagable: @asset.transam_asset).find_by(classification: 'Roadway')
        - if roadway_img.present?
          .item{class: active_set ? '' : 'active'}
            = image_tag(roadway_img.image.url)
            .carousel-caption
              .h5 Roadway
          - active_set = true

        - elevation_img = Image.where(base_imagable: @asset.transam_asset).find_by(classification: 'Elevation')
        - if elevation_img.present?
          .item{class: active_set ? '' : 'active'}
            = image_tag(elevation_img.image.url)
            .carousel-caption
              .h5 Elevation
          - active_set = true

        - superstructure_img = Image.where(base_imagable: @asset.transam_asset).find_by(classification: 'Superstructure')
        - if superstructure_img.present?
          .item{class: active_set ? '' : 'active'}
            = image_tag(superstructure_img.image.url)
            .carousel-caption
              .h5 Superstructure

      %a.left.carousel-control{href: "#recentImagesCarousel", role: "button", data: {slide:"prev"}}
        %span.glyphicon.glyphicon-chevron-left
      %a.right.carousel-control{href: "#recentImagesCarousel", role: "button", data: {slide:"next"}}
        %span.glyphicon.glyphicon-chevron-right
  .row
    = render 'map_thumbnail'
  .row.text-center
    #{@asset.geometry.try(:y)}, #{@asset.geometry.try(:x)}
        