:css
  .image-placeholder {
    width: 145px; 
    height: 100px; 
    display: inline-block; 
    border: 1px solid;
  }
.col-sm-4
  - condition_link = @asset.calculated_condition ? link_to(@asset.calculated_condition&.titleize, inspection_path(@asset.inspections.ordered.first)) : ''
  = "Condition: #{condition_link}".html_safe
.col-sm-4
  .image-placeholder
    Image goes here
  .image-placeholder
    Image goes here
  .image-placeholder
    Image goes here
.col-sm-4
  .row
    = render 'map_thumbnail'
  .row
    #{@asset.geometry.try(:y)}, #{@asset.geometry.try(:x)}
        