- if @streambed_profile_point.errors.any?
  $('#form-modal').html("#{escape_javascript(render 'streambed_profile_points/form_modal')}");
- else
  $('#form-modal').modal('hide');
  disable_streambed_profile_editing();
  - if @inspection.state != "final"
    $('#streambed_table thead').html("#{escape_javascript(render 'inspections/streambed_profile_table_head')}");
    $('#streambed_table tbody').html("#{escape_javascript(render 'inspections/streambed_profile_table_body')}");
  - else
    $('#streambed_table thead').html("#{escape_javascript(render 'assets/stream_bed_profile_head')}");
    $('#streambed_table tbody').html("#{escape_javascript(render 'assets/stream_bed_profile_body')}");