:ruby
  if @inspection.inspection_type_setting
    last_inspection_date = @inspection.highway_structure.inspections.where(state: 'final', inspection_type_setting: @inspection.inspection_type_setting).maximum(:event_datetime)
  else
    last_inspection_date = @inspection.highway_structure.inspections.where(state: 'final', inspection_type: @inspection.inspection_type).maximum(:event_datetime)
  end

.modal-dialog.modal-lg
  .modal-content
    .modal-header
      %button.close{:data => {:dismiss => "modal"}}
        x
      %h3.modal-title
        = "#{@asset} Inspection Checklist to Finalize"
    .modal-body
      .alert{class: @inspection.inspection_team_leader.present? ? 'alert-success' : 'alert-danger'}
        = "#{reference_label('inspections', 'inspection_team_leader_id', 'Team Leader (83)')} is #{@inspection.inspection_team_leader.present? ? '' : 'NOT'} set."
      .alert{class: @inspection.event_datetime.present? ? 'alert-success' : 'alert-danger'}
        = "#{reference_label('inspections', 'event_datetime', 'Inspection Date')} is #{@inspection.event_datetime.present? ? '' : 'NOT'} set."
      - if @inspection.event_datetime
        .alert{class: (last_inspection_date.nil? || @inspection.event_datetime > last_inspection_date) ? 'alert-success' : 'alert-danger'}
          = "#{reference_label('inspections', 'event_datetime', 'Inspection Date')} is #{(last_inspection_date.nil? || @inspection.event_datetime > last_inspection_date) ? '' : 'NOT'} after #{reference_label('highway_structures', 'inspection_date', 'Last Inspection Date')}."
