
= simple_form_for(:inspector_assignment_proxy,
  :html => {:class => 'form-vertical', :id => 'inspector_assignment_form'},
  :url => change_inspectors_inspections_path,
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
  :radio_buttons => :vertical_radio_and_checkboxes,
  :file => :vertical_file_input,
  :boolean => :vertical_boolean}) do |f|

  = f.button :submit, 'Add Inspectors', :class => "btn btn-primary assignment_form_submit", :id => 'add_inspectors_workflow', disabled: true
  = f.button :submit, 'Remove Inspectors', :class => "btn btn-primary assignment_form_submit", :id => 'remove_inspectors_workflow', disabled: true

  = f.input :is_removal, as: :hidden
  = f.input :global_ids, as: :hidden
  .row
    .col-sm-6
      = f.input :inspector_ids, collection: User.active.with_role(:inspector).joins(:organizations).where(organizations: {id: assigned_organization_id}), as: :check_boxes, label: false, required: !(can?(:make_ready, Inspection.new))

:javascript

  $(document).ready(function() {

    $("#inspector_assignment_form input[type=submit]").click(function() {
        $("input[type=submit]", $(this).parents("form")).removeAttr("clicked");
        $(this).attr("clicked", "true");
    });
  });

  $('#inspector_assignment_form').validate({
    submitHandler: function(form){

      $('#inspector_assignment_form #inspector_assignment_proxy_global_ids').val(Array.from(selected_rows));

      var val = $("input[type=submit][clicked=true]").attr('id');
      if (val == 'add_inspectors_workflow') {
        $('#inspector_assignment_proxy_is_removal').val(0);
      } else {
        $('#inspector_assignment_proxy_is_removal').val(1);
      }

      form.submit();
    }
  });

  $('#inspector_assignment_form').on('change', 'input[name="inspector_assignment_proxy[inspector_ids][]"]', function() {
    enable_disable_change_workflow();
    enable_disable_change_inspectors();
  });
