:ruby
  @search_proxy.structure_status_type_code = [StructureStatusType.find_by_name('Active').try(:code)] unless @search_proxy.structure_status_type_code

:css
  .asset-subtype-filters-div {
    margin-left: 15px;
  }


.col-sm-8
  .col-sm-4
    = f.input :structure_status_type_code, as: :check_boxes, collection: StructureStatusType.active.order(:name).pluck(:name, :code), label: reference_label('highway_structures', 'structure_status_type_id', 'Status')
  .col-sm-4
    = f.input :owner_id, as: :check_boxes, collection: StructureAgentType.active.order(:code).collect{|t| [t.name, t.id]}, label: reference_label('highway_structures', 'owner_id', 'Onwer')
  .col-sm-4
    %label.control-label
      = reference_label('highway_structures', 'highway_structurible_type', 'Structure Class')

    - AssetType.active.each do |asset_type|
      .asset-type-filters-div{id: asset_type.id}
        %span.checkbox
          %label
            = check_box_tag "inspection_proxy[asset_type][]", asset_type.id, @search_proxy.asset_type && @search_proxy.asset_type.include?(asset_type.id), class: 'asset-type-checkbox'
            %strong= asset_type
        .asset-subtype-filters-div
          = f.input :asset_subtype, collection: asset_type.asset_subtypes.order(:name), as: :check_boxes, label: false

:javascript
  $('.asset-subtype-filters-div .checkbox input').on('click', function(event) {
    if ($(this).is(':checked')) {
      if($(this).parents('.asset-type-filters-div').find('.asset-subtype-filters-div .checkbox input:not(:checked)').length == 0) {
        $(this).parents('.asset-type-filters-div').find('.asset-type-checkbox').prop('checked', true);
      }
    } else {
      $(this).parents('.asset-type-filters-div').find('.asset-type-checkbox').prop('checked', false);
    }
  });

  $('.asset-type-checkbox').on('click', function(event) {
    if ($(this).is(':checked')) {
      $(this).parents('.asset-type-filters-div').find('.asset-subtype-filters-div .checkbox input').prop('checked', true);
    } else {
      $(this).parents('.asset-type-filters-div').find('.asset-subtype-filters-div .checkbox input').prop('checked', false);
    }
  });
