:css
  .inspector-assignment-label {
    display: block;
  }

  .inspector-checkboxes {
    padding-left: 0px;
    vertical-align: inherit;
  }

:ruby

  orgs = (can?(:view_all, Inspection) ? current_user.viewable_organizations : current_user.viewable_organizations.reject{|x| x.id == HighwayAuthority.first.id})

  inspectors = []
  User.active.with_role(:user).each do |user|
    user.organizations.each do |l|
      inspectors << {
        name: user.to_s,
        id: user.id,
        organization_id: l.id
      } if orgs.include? l
    end
  end

.modal-dialog.modal-lg
  .modal-content
    .modal-header
      %button.close{:data => {:dismiss => "modal"}}
        x
      %h3.modal-title Set Schedule
    .modal-body
      = simple_form_for(@inspection,
                    :as => :inspection,
                    :url => inspection_path(@inspection),
                    :method => 'put',
                    :html => {:class => 'form-vertical inspection_form' },
                    :wrapper => :vertical_form,
                    :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes, :radio_buttons => :vertical_radio_and_checkboxes, :file => :vertical_file_input, :boolean => :vertical_boolean}) do |f|

        .row
          .col-sm-12
            - unless @inspection.inspection_type_setting
              = f.input :description, input_html: {value: @inspection.description}, required: @inspection.inspection_type.name == 'Special'
            = f.input :calculated_inspection_due_date, :as => :string, :wrapper => :vertical_append_calendar, :label => "Due Date", required: true, input_html: {:value => format_as_date(@inspection.calculated_inspection_due_date)}

            = f.input :inspection_fiscal_year, collection: %w(EVN ODD LP0 LP1 LP2 LP3 12M), label: reference_label('highway_structures', 'inspection_fiscal_year', 'Fiscal Year'), required: false, include_blank: true, selected: @inspection.inspection_fiscal_year
            = f.input :inspection_month, collection: %w(JAN FEB MAR APR MAY JUN JUL AUG SEP OCT NOV DEC), label: reference_label('highway_structures', 'inspection_month', 'Inspection Month'), required: false, include_blank: true, selected: @inspection.inspection_month
            .row
              .col-sm-6
                = f.input :inspection_quarter, collection: %w(A B C D E F G H), label: reference_label('highway_structures', 'inspection_quarter', 'Inspection Quarter'), required: false, include_blank: true, selected: @inspection.inspection_quarter
              .col-sm-6
                = f.input :inspection_trip_key, collection: (1..99).to_a, label: reference_label('highway_structures', 'inspection_trip_key', 'Inspection Trip'), required: false, include_blank: true, selected: @inspection.inspection_trip_key
            .row
              .col-sm-6
                = f.input :inspection_second_quarter, collection: %w(A B C D E F G H), label: reference_label('highway_structures', 'inspection_quarter', 'Inspection Quarter'), required: false, include_blank: true, selected: @inspection.inspection_second_quarter
              .col-sm-6
                = f.input :inspection_second_trip_key, collection: (1..99).to_a, label: reference_label('highway_structures', 'inspection_trip_key', 'Inspection Trip'), required: false, include_blank: true, selected: @inspection.inspection_second_trip_key
            = f.input :inspection_zone_id, collection: InspectionZone.active, label: reference_label('highway_structures', 'inspection_zone', 'Inspection Zone'), required: false, include_blank: true, selected: @inspection.inspection_zone_id

        .row
          .col-xs-12
            = f.submit 'Save', :class => 'btn btn-primary'
            %button.btn.btn-warning#cancel_inspection_form{type: 'button'}
              Cancel

:javascript

  $('.datepicker').bootstrapDP({
    minViewMode: "months",
    autoclose: true
  });

  $('body .datepicker').datepicker().on("changeMonth", function(e) {
    // change to end of month date
    var currentDate = e.date;
    console.log(currentDate);
    var endMonthDate = moment(currentDate).endOf("month").toDate();
    var _self = this;
    setTimeout(function() {
      $(_self).datepicker('update', endMonthDate);
    }, 50);
  });

  $('.inspection_form').validate({
    submitHandler: function(form) {
      form.submit();
    }
  });

  $('#cancel_inspection_form').click(function() {
    $('#form-modal').modal('hide');
  });

