.dropdown
  %button.btn.btn-sm.dropdown-toggle.element_defect_row_action_button{:data => {:toggle => 'dropdown'}}
    .fa.fa-ellipsis-h
  %ul.dropdown-menu.dropdown-menu-right{:role => 'menu'}
    %li.text-left
      = link_to edit_inspection_element_path(element.inspection, element), remote: true do
        = "Edit Element"
    %li.text-left
      = link_to new_inspection_element_defect_path(element.inspection, element), remote: true  do
        = "Add Defect"
    %li.text-left
      = link_to new_inspection_element_child_element_path(element.inspection, element), remote: true  do
        = "Add Protective System"
    %li.text-left
      = link_to edit_comment_inspection_element_path(element.inspection, element), remote: true  do
        = "Edit Comment"
    %li.text-left
      = link_to inspection_element_path(element.inspection, element), method: :delete, data: { confirm: 'Are you sure?' }  do
        = "Delete"