:ruby
  html_class = is_child ? 'bme' : 'element'
  indent_str = '&nbsp;'*indent*4
  parent = element.parent if is_child

%tr{class: "#{html_class}", data: {element_id: element.id, parent_element_id: parent&.id}}
  %td.left!= "#{indent_str}#{html_rjust(element.element_definition.number, 4)}"
  %td.left!= "#{indent_str}#{element.element_definition.short_name}#{' (' + element.guid + ')' if @show_debug}"
  %td.right.total_quantity
    %span.number-display
      = format_as_integer(element.quantity)
    %input.number-input.form-control.required.positive-num{style: 'display: none;', type: 'number', required: 'required', min: 0, value: element.quantity}
  %td.left= element.element_definition.quantity_unit
  %td.right.cs1= format_as_integer(element.quantity.to_f - DefectLocation.where(defect_id: element.defects).where.not(condition_state: 'CS1').sum(:quantity))
  %td.right.cs2= format_as_integer(DefectLocation.where(defect_id: element.defects, condition_state: 'CS2').sum(:quantity))
  %td.right.cs3= format_as_integer(DefectLocation.where(defect_id: element.defects, condition_state: 'CS3').sum(:quantity))
  %td.right.cs4= format_as_integer(DefectLocation.where(defect_id: element.defects, condition_state: 'CS4').sum(:quantity))
  %td.center
    - if can?(:update, @inspection.inspection) && @inspection.updatable?
      - if is_child
        = render 'inspections/child_element_row_action_buttons', element: element
      - else
        = render 'inspections/element_row_action_buttons', element: element
- if element.notes.present?
  %tr.notes
    %td
    %td.left{colspan: 7}!= "#{indent_str}#{element.notes}"
