:css
  .region-filter-label {
    display: block;
  }
  .region-checkboxes {
    padding-left: 0px;
    vertical-align: inherit;
  }

.col-sm-2
  = f.input :asset_tag, label: reference_label('highway_structures', 'transam_assets.asset_tag', 'Structure Key'), :input_html => { :data => {:convert => 'uppercase'} }
  = f.input :region_code, as: :check_boxes,  collection: Region.active.order(:code).pluck(:code, :code), label: reference_label('highway_structures', 'region_id', 'Region'), item_wrapper_class: 'region-checkboxes checkbox-inline', label_html: { class: 'region-filter-label'} 
  = f.input :structure_county, label: reference_label('highway_structures', 'county', 'County'), :input_html => {:autocomplete => 'off', class: 'structure_county_input'}
  = f.input :structure_city, label: reference_label('highway_structures', 'city', 'City'), :input_html => {:autocomplete => 'off', class: 'structure_city_input'}

:javascript
  $('.structure_county_input').typeahead({
    items: 10,
    source: #{District.joins(:district_type).where(district_types: {name: 'County'}).pluck(:name).to_json.html_safe || []}
  });

  $('.structure_city_input').typeahead({
    items: 10,
    source: #{District.joins(:district_type).where(district_types: {name: 'Place'}).pluck(:name).to_json.html_safe || []}
  });