.row
  - if can?(:update, @inspection.inspection) && can?(:manage, MaintenanceServiceOrder) && @inspection.updatable?
    .col-sm-12
      .btn-group
        = link_to new_maintenance_service_order_path(asset: @asset.object_key), remote: true, class: 'btn btn-primary', title: 'New Maintenance Item' do
          %i.fa.fa-plus
          = " New Maintenance Item"
  .row
    .col-sm-12
      - if @asset.maintenance_service_orders.empty?
        %p= "This #{@asset.asset_type} does not have any maintenance items."
      - else
        = render :partial => "maintenance_service_orders/index_table", :locals => {:maintenance_service_orders => @asset.maintenance_service_orders}