-inspections_images = @inspection.images


-i = 0

-image_count = inspections_images.count
-while(i < image_count) do
  -image = inspections_images[i]
  .row
    %span.col-xs-6
      %span.col-xs-1
        -i += 1
        =i
      %span.col-xs-11
        %img{ src:"#{image.image.url()}", alt:"#{image.description}", height:"300", width:"300" }
      .row
        %span.col-xs-12
          = "#{image.image_classification} looking #{image.compass_point}"
    -if i < inspections_images.count
      -image2 = inspections_images[i]
      %span.col-xs-6
        %span.col-xs-1
          -i += 1
          =i
        %span.col-xs-11
          %img{ src:"#{image2.image.url()}", alt:"#{image2.description}", height:"300", width:"300" }
        .row
          %span.col-xs-12
            = "#{image2.image_classification} looking #{image2.compass_point}"


