= format_field("Structure", link_to(@inspection.highway_structure, inventory_path(@inspection.highway_structure)) )
= format_field("Name", @inspection.name)
= format_field("Scheduled Date", format_as_date(@inspection.event_datetime))
= format_field("Temperature", @inspection.temperature)
= format_field("Weather", @inspection.weather)
%hr
.control-group
  %label.display-label
    = "#{@inspection.highway_structure.asset_type&.class_name} Notes"
  .display-value
    = format_as_text(@inspection.highway_structure.remarks)
.control-group
  %label.display-label
    Inspection Notes
  .display-value
    = format_as_text(@inspection.notes)
