.row
  .col-sm-3
    .form-group
      %label.control-label= reference_label('highway_structures', 'transam_assets.asset_tag', 'Structure Key')
      .display-value
        = link_to(@inspection.highway_structure, inventory_path(@inspection.highway_structure))
    .form-group
      %label.control-label
        = reference_label('highway_structures', 'inspection_program_id', 'Inspection Program')
      .display-value
        = @inspection.highway_structure.inspection_program
    .form-group
      %label.control-label
        = reference_label('inspections', 'calculated_inspection_due_date', 'Due Date')
      .display-value
        = @inspection.calculated_inspection_due_date.try(:strftime, "%b %Y")
    .form-group
      %label.control-label
        = reference_label('inspections', 'event_datetime', 'Inspection Date')
      .display-value
        = format_as_date(@inspection.event_datetime)
    .form-group
      %label.control-label= reference_label('highway_structures', 'inspection_date', 'Routine Inspection Date')
      .display-value= format_as_date(@inspection.highway_structure.inspection_date)
    .form-group
      %label.control-label
        = reference_label('inspections', 'inspection_frequency', 'Routine Inspection Frequency')
      .display-value
        = @inspection.highway_structure.inspection_type_settings.find_by(inspection_type: InspectionType.find_by(name: 'Routine')).try(:frequency_months)

  .col-sm-3
    .form-group
      %label.control-label
        = reference_label('highway_structures', 'inspection_trip', 'Inspection Trip')
      .display-value
        = @inspection.highway_structure.inspection_trip
    .form-group
      %label.control-label Inspectors
      .display-value= format_as_list(@inspection.inspectors)
    .form-group
      %label.control-label= reference_label('inspections', 'organization_type_id', 'Inspection Group')
      .display-value= @inspection.organization_type
    .form-group
      %label.control-label= reference_label('inspections', 'assigned_organization_id', 'Inspection Team')
      .display-value= @inspection.assigned_organization
    .form-group
      %label.control-label= reference_label('highway_structures', 'inspection_category_id', 'Inspection Category')
      .display-value= "Scheduled" # hard-coded for now
    .form-group
      %label.control-label= reference_label('inspections', 'inspection_type_id', 'Inspection Type')
      .display-value= @inspection.inspection_type
  .col-sm-3
    .form-group
      %label.control-label= reference_label('inspections', 'state', 'Inspection Status')
      .display-value= @inspection.machine.human_state_name[0] == @inspection.machine.human_state_name[0].downcase ? @inspection.machine.human_state_name.titleize : @inspection.machine.human_state_name
    .form-group
      %label.control-label Temperature
      .display-value= @inspection.temperature
    .form-group
      %label.control-label Weather
      .display-value= @inspection.weather
    .form-group
      %label.control-label= reference_label('inspections', 'routine_report_submitted_at', 'Routine Inspection Submitted')
      .display-value= format_as_date(@inspection.routine_report_submitted_at)
    .form-group
      %label.control-label= reference_label('inspections', 'inspection_team_leader_id', 'Team Leader (83)')
      .display-value= @inspection.inspection_team_leader
    .form-group
      %label.control-label= reference_label('inspections', 'inspection_team_member_id', 'Team Member (84)')
      .display-value= @inspection.inspection_team_member
    .form-group
      %label.control-label= reference_label('inspections', 'inspection_team_member_alt_id', 'Team Member Alternative (85)')
      .display-value= @inspection.inspection_team_member_alt
  .col-sm-3
    .form-group
      %label.control-label
        = "#{@inspection.highway_structure.asset_type&.class_name.titleize} Notes"
      .display-value
        = format_as_text(@inspection.highway_structure.remarks)
    .form-group
      %label.control-label Inspection Notes
      .display-value
        = format_as_text(@inspection.notes)
