.row
  .col-sm-3
    .form-group
      %label.control-label= reference_label('highway_structures', 'transam_assets.asset_tag', 'Structure Key')
      .display-value
        = link_to(@inspection.highway_structure, inventory_path(@inspection.highway_structure))
    .form-group
      %label.control-label
        = reference_label('highway_structures', 'inspection_program_id', 'Inspection Program')
      .display-value
        = @inspection.highway_structure.inspection_program
    .form-group
      %label.control-label
        = reference_label('inspections', 'calculated_inspection_due_date', 'Routine Inspection Due Date')
      .display-value
        = format_as_date(@inspection.calculated_inspection_due_date)
    .form-group
      %label.control-label= reference_label('highway_structures', 'inspection_date', 'Routine Inspection Date')
      .display-value= format_as_date(@inspection.highway_structure.inspection_date)
    .form-group
      %label.control-label
        = reference_label('inspections', 'inspection_frequency', 'Routine Inspection Frequency')
      .display-value
        = @inspection.highway_structure.inspection_frequency

  .col-sm-3
    .form-group
      %label.control-label
        = reference_label('highway_structures', 'inspection_trip', 'Inspection Trip')
      .display-value
        = @inspection.highway_structure.inspection_trip
    .form-group
      %label.control-label Inspectors
      .display-value= format_as_list(@inspection.inspectors)
    .form-group
      %label.control-label= reference_label('inspections', 'organization_type_id', 'Inspection Group')
      .display-value= @inspection.organization_type
    .form-group
      %label.control-label= reference_label('inspections', 'assigned_organization_id', 'Inspection Team')
      .display-value= @inspection.assigned_organization
    .form-group
      %label.control-label= reference_label('highway_structures', 'inspection_category_id', 'Inspection Category')
      .display-value= "Scheduled" # hard-coded for now
    .form-group
      %label.control-label= reference_label('inspections', 'inspection_category_type_id', 'Inspection Type')
      .display-value= "Routine" # hard-coded for now
  .col-sm-3
    .form-group
      %label.control-label= reference_label('inspections', 'state', 'Inspection Status')
      .display-value= @inspection.state.titleize
    .form-group
      %label.control-label Temperature
      .display-value= @inspection.temperature
    .form-group
      %label.control-label Weather
      .display-value= @inspection.weather
    .form-group
      %label.control-label= reference_label('inspections', 'routine_report_submitted_at', 'Routine Inspection Submitted')
      .display-value= format_as_date(@inspection.routine_report_submitted_at)
    .form-group
      %label.control-label Inspector (83)
      .display-value PENDING
  .col-sm-3
    .form-group
      %label.control-label
        = "#{@inspection.highway_structure.asset_type&.class_name} Notes"
      .display-value
        = format_as_text(@inspection.highway_structure.remarks)
    .form-group
      %label.control-label Inspection Notes
      .display-value
        = format_as_text(@inspection.notes)
