.document
  -#- if @inspection.class == BridgeCondition
  -#  = render partial: 'inspections/vertical_report_header.pdf.haml', :locals => {:inspection => @inspection}
  -#  = render partial: 'inspections/vertical_report.pdf.haml', :locals => {:inspection => @inspection}
  -#  .div.alwaysbreak { page-break-before: always; }


  -@typed_inspection = Inspection.get_typed_inspection(@inspection)
  -typed_inspection_methods = @typed_inspection.class.instance_methods(false)
  = render partial: 'inspections/structure_inventory_appraisal_header.pdf.haml', :locals => {:inspection => @inspection, :typed_inspection => @typed_inspect}
  = render partial: 'inspections/structure_inventory_appraisal_part1.pdf.haml', :locals => {:inspection => @inspection, :typed_inspection => @typed_inspect, :typed_inspection_methods => typed_inspection_methods}
  &nbsp;
  .div.alwaysbreak
  = render partial: 'inspections/structure_inventory_appraisal_header.pdf.haml', :locals => {:inspection => @inspection, :typed_inspection => @typed_inspection}
  = render partial: 'inspections/structure_inventory_appraisal_part2.pdf.haml', :locals => {:inspection => @inspection, :typed_inspection => @typed_inspection, :methods => methods}

  -i=0
  -@inspection.highway_structure.roadways.each do |roadway|
    -i += 1
    &nbsp;
    .div.alwaysbreak
    = render partial: 'inspections/structure_inventory_appraisal_header.pdf.haml', :locals => {:inspection => @inspection, :typed_inspection => @typed_inspection, :roadway => roadway }
    = render partial: 'inspections/structure_inventory_appraisal_part3.pdf.haml', :locals => {:inspection => @inspection, :typed_inspection => @typed_inspection, :roadway => roadway, :road_counter => i, :methods => methods}

  &nbsp;
  .div.alwaysbreak

  - if @typed_inspection.class == BridgeCondition
    = render :partial => 'inspections/element_inspection_data_header.html.haml', :locals => {:inspection => @inspection, :typed_inspection => @typed_inspection}
    = render :partial => 'inspections/elements_table.html.haml', :locals => {:inspection => @inspection, :is_for_pdf => true}
    &nbsp;
    .div.alwaysbreak

  - if @inspection.images.any? || TransamAsset.get_typed_asset(@inspection.highway_structure).images.any?
    = render :partial => 'inspections/report_photo_log_header.html.haml', :locals => {:inspection => @inspection, :typed_inspection => @typed_inspection}
    = render :partial => 'inspections/report_photo_log.pdf.haml', :locals => {:inspection => @inspection, :typed_inspection => @typed_inspection}
    &nbsp;
    .div.alwaysbreak

  = render :partial => 'maintenance_service_orders/maintenance_recommendations_header.html.haml', :locals => {:inspection => @inspection}
  = render :partial => 'maintenance_service_orders/maintenance_recommendations.html.haml', :locals => {:inspection => @inspection}
  &nbsp;
  .div.alwaysbreak

  = render :partial => 'inspections/inspectors_header.html.haml', :locals => {:inspection => @inspection, :typed_inspection => @typed_inspection}
  = render :partial => 'inspections/inspectors.html.haml', :locals => {:inspection => @inspection, :typed_inspection => @typed_inspection}